* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v16_6 {
  width: 100%;
  height: 900px;
  background: rgba(42, 58, 67, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v22_39 {
  width: 604px;
  height: 460px;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 485px;
  overflow: hidden;
}
.v22_10 {
  width: 334px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 103px;
  left: 0px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v22_14 {
  width: 78px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 309px;
  left: 5px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v22_11 {
  width: 80px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 206px;
  left: 0px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v22_15 {
  width: 148px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 412px;
  left: 5px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v22_12 {
  width: 141px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 206px;
  left: 463px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v22_13 {
  width: 199px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 206px;
  left: 172px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v22_8 {
  width: 245px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v95_57 {
  width: 94px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 0px;
  left: 384px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v95_59 {
  width: 103px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 103px;
  left: 441px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v95_60 {
  width: 64px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 309px;
  left: 213px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v95_61 {
  width: 205px;
  color: rgba(159, 159, 159, 1);
  position: absolute;
  top: 412px;
  left: 302px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v24_86 {
  width: 96px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 778px;
  left: 1385px;
  font-family: Pixelify Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
